<%= form_for(:assignment, :url => assign_groups_path) do |f| %>
	<%= select_tag 'user_id', options_for_select(User.all.collect{ |u| [u.username, u.id] }) %>
	<% for role in User.current_user.roles %>
	<div>
	  <%= check_box_tag "user[role_ids][]", role.id, true %>
	  <%=h role.name %>
	</div>
	<% end %>
	<%= hidden_field_tag "user[role_ids][]", "" %>
	<div><%= f.submit "Assign" %></div>
<% end %>